## mako

<%page expression_filter="h"/>

<%!

  from django.core.urlresolvers import reverse

  from django.utils.translation import ugettext as _

  from branding.api import get_footer

%>

<% footer = get_footer(is_secure=is_secure) %>

<%namespace name='static' file='static_content.html'/>
  <div class="wrapper wrapper-footer" style="padding:0;">
 <footer style="padding:0;">
  <style type="text/css">
    @media only screen and (max-width: 980px) {
        .break-small{
          float: none !important;
        }
        .green-footer{
          height: 30px  !important;
        }
        .container{
          padding: 0 10px  !important;
          min-width: 200px;
        }
        .row{
          flex-direction: column;
        }
        .face{
          float: none !important;
          text-align: left !important;
        }
        .c-caption,.gris{
          text-align: left !important;
          float: none !important;
        }
        .col-md-4{
          margin: 10px 0;
        }
    }
  </style>
<div class="container">
<div class="row"> 
<div class="break-small col-md-4 col-sm-12 col-xs-12">

<div class="c-caption" style="color:white; margin-bottom:5%;font-weight: bold">Nos produits &amp; Services</div>

<div class="gris">

<ul class="list-unstyled" id="products">
            <li>
              <a target="new" href="https://www.twmicronics.com/" title="">
                <font class="text-white" style="">Accueil</font>
              </a>
            </li>
                        <li>
                          <a title="" target="new" href="https://support.twmicronics.com/forums/">
                                <font class="text-white" style="">Forums</font>
                          </a>
                        </li>
                        <li>
                          <a target="new" href="https://www.twmicronics.com/event" title="">
                                <font class="text-white" style="">Évènements</font>
                          </a>
                        </li>
              <li><a target="new" href="https://support.twmicronics.com/">Support</a></li>
          
              <li>
                <a target="new" href="https://www.twmicronics.com/faq">
                      <font class="text-white" style="">FAQ</font>
                </a>
              </li>
            </ul>

</div>

        </div>

        

        <div class="col-md-4 col-sm-12 col-xs-12" style="text-align:center">

          <div class="c-caption" style="color:white; margin-bottom:5%; text-align:center;font-weight: bold" >Rejoignez-nous</div>

<div class="gris">

M<ul class="list-unstyled">
            <li >
              <a target="new" href="https://www.twmicronics.com/contactus" data-original-title="" title="">
                <font class="text-white" style="">Contactez-nous</font>
              </a>
            </li>
        <li><a target="new" href="https://www.twmicronics.com/blog/actualites-2">Actualités</a></li>

        <li><a target="new" href="https://www.twmicronics.com/groups">Liste de diffusion</a></li>

        <li>
            <a target="new" href="https://www.twmicronics.com/slides">Presentations</a>
        </li>
    </ul>
          <ul class="list-unstyled">
            <li>
              <i class="fa fa-phone"></i>
              <span>+237 697 97 41 42 / 654 03 03 50</span>
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              <span>info@twmicronics.com</span>
            </li>
          </ul>
          <h2>
            <a target="new" href="https://www.facebook.com/TWMicronics237">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a target="new" href="https://twitter.com/TWMicronics">
              <i class="fa fa-twitter"></i>
            </a>
            <a target="new" href="https://cm.linkedin.com/in/tw-micronics-sarl-07a259112?trk=profile-badge">
              <i class="fa fa-linkedin"></i>
            </a>
            <a target="new" href="https://www.youtube.com/channel/UCvT5XqvHlS7ADc58agVUeOA">
              <i class="fa fa-youtube-play"></i>
            </a>


          </h2>

</div>

        </div>

    <div class="break-small col-md-4 col-sm-12 col-xs-12">

          <div class="face" style="color:white; float:right;">

          <aside id="text-3"><div class="c-caption" style="color:white; margin-bottom:5%; float:right;font-weight: bold">TW Micronics</div>  

        <div>
            <p style="text-align: left;">Nous sommes&nbsp; intégrateur de solutions informatiques, fournisseur de solution Cloud, agence de marketing digital et un centre de formation technique agrée MICROSOFT. Nous proposons des solutions distinctives afin d’accroître la productivité des entreprises et des personnes. </p>
            <p style="text-align: left;"><a target="new" href="https://www.twmicronics.com/termsconditions" >Conditions Générales de vente</a> / <a href="https://www.twmicronics.com/privacy" target="new">Politique de confidentialité</a>&nbsp;<br></p>
            <p>
              <br>
            </p>
          </div>

      </aside>
    </div>



    </div>
</div>

<div class="container mt16 mb8">
                  <div class="pull-left text-muted">
                          © TW Micronics Academy. All rights reserved except where noted. EdX, Open edX and the edX and Open EdX logos are registered trademarks or trademarks of edX Inc
                  </div>
          </div>

</div>

</footer>
</div>
% if include_dependencies:

  <%static:js group='base_vendor'/>

  <%static:css group='style-vendor'/>

  <%include file="widgets/segment-io.html" />

  <%include file="widgets/segment-io-footer.html" />

% endif

% if footer_css_urls:

  % for url in footer_css_urls:

    <link rel="stylesheet" type="text/css" href="${url}"></link>

  % endfor

% endif
